*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Small sized screens */
@media (max-width: 480px) {
    .col-sm-12 {
        width: 100%;
    }
    .animation {
        position: absolute;
        top: 0px;
        left: 200px;
        -webkit-transition: top 15s;
        transition: top 15s;
        z-index: 1;
    }
    .photo {
        background-image: url('mau.jpg');
        background-repeat: no-repeat;
    }
}
/* Medium sized screens */
@media only screen and (min-width: 481px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
    .animation {
        display: none;
    }
    .photo {
        background-image: url('mau.jpg');
        background-repeat: no-repeat;
    }
}
/* Large sized screens */
@media only screen and (min-width: 1024px) {
    .col-lg-4 {
        width: 33.333333%;
    }    
    .animation {
        display: none;
    }
    .photo {
        background-image: url('mau.jpg');
        background-repeat: no-repeat;
    }
}
.box {
    position: relative;
    vertical-align: top;
    display: inline-block;
    height: 533px;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic';
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}
.header {
    width: 100%;
    height: 50px;
    color: white;
}
.nav
{
	width: 75px;
	display: inline-block;
    margin-top: 15px;
}
.h1 {
    color: darkred;
}
.h2 {
    color: darkgoldenrod;
}
.h3 {
    color: darkcyan;
}
.main {
    width: 100%;
}
/* latin */
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(https://fonts.gstatic.com/s/varela/v7/G6yziUoU5w8QmZ32N_0XDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.link {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Varela';
}
.link1 {
    color: darkcyan;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.link2 {
    color: darkgoldenrod;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.link3 {
    color: darkred;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.link4 {
    color: dimgray;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.link5 {
    color: silver;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.mau {
    position: absolute;
    top: -25px;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 85px;
    text-shadow: 1px 1px #000000;
    font-family: 'Sarpanch', sans-serif;
    padding: 0 5px 0 5px;
}
.mauricioruanovahurtado {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-size: 12px;
    font-family: 'Varela';
    text-shadow: 1px 1px #000000;
}
.skill {
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 105px;
    left: 210px;
    text-shadow: 1px 1px #000000;
    text-align: left;
}
.aspnet {
    position: absolute;
    color: white;
    opacity: 0.7;
    padding: 0 5px 0 5px;
    background-color: black;
    top: 10px;
}
.rubyonrails {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkcyan;
    top: 35px;
}
.python {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkcyan;
    top: 60px;
}
.mongodb {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkgoldenrod;
    top: 85px;
}
.expressjs {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkgoldenrod;
    top: 110px;
}
.angularjs {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkgoldenrod;
    top: 135px;
}
.nodejs {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkgoldenrod;
    top: 160px;
}
#aws {
    color: darkred;
    font-weight: bold;
}
.aws {
    position: absolute;
    color: white;
    opacity: 0.8;
    padding: 0 5px 0 5px;
    background-color: darkred;
    top: 185px;
}
.icon {
    position: absolute;
    top: 210px;
    left: 250px;
    height: 60px;
    width: 60px;
}
.fullstack {
    position: absolute;
    top: 430px;
    left: 0px;
    color: white;
    background-color: darkcyan;
    opacity: 0.9;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px 5px 5px;
}
.softwareengineer {
    position: absolute;
    top: 475px;
    left: 0px;
    color: white;
    background-color: black;
    opacity: 0.6;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px 5px 5px;
}
.animation img {
    width: 50px;
}
#map {
    height: 100%;
    width: 100%;
    left:5px;
}
.footer {
    padding: 0 5px 0 5px;
    font-size: 0.8em;
    font-family: 'Varela';
}
.about {
    font-size: 0.8em;
    height: 60px;
    width: 320px;
    text-align: left;
    padding-top: 10px;
    font-family: 'Varela';
}
.company {
    color: darkgoldenrod;
    font-weight:bold;
}
.position {
    font-size: 12px;
    color: black;
}
.address {
    font-size: 12px;
    color: dimgray;
}
.website {
    color: darkcyan;
}
.project {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid silver;
    text-align: left;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: left;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
li {
	list-style-type: square;
}